.pie{
    background-color: black;
    padding: 3em 1em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.pie__texto{
    font-family: sans-serif;
    font-size: clamp(1rem,2vw,1.4rem);
}
.pie__link{
    color: white;
}